extends ../template.jade

block content
  .fluid-container
    .row
      .col-xs-12(style="text-align:center")
        a(style="display:inline-block")
          img(src="#{asset_path}/home/assets/corp-dashboard.png")