extends ../template.jade

block content
  section.amp-section.amp-legal
    .container
      .row
        .col-xs-12
          h1 Agreement to Privacy Policy
          p THESE TERMS AND CONDITIONS DO NOT AFFECT YOUR STATUTORY RIGHTS.
          p The website www.amplifylife.com ("the Website") is owned and operated by Kickstart Life Ltd, trading as “Amplify”. References to "we", "us", or "our" are references to Kickstart Life Ltd. We are a company registered in England and Wales (company number 9495037) and our address for correspondence is given at the end of our Terms and Conditions.
          p This Privacy Policy together with our Terms and Conditions and Cookies Policies govern your use of the Website and our services. Please read them carefully as they affect your rights and liabilities under the law. By using the Website you agree to be bound by our Terms and Conditions and Cookies Policy. If you do not agree to this Privacy Policy and/or our/or Terms and Conditions and Cookies Policy, please do not register for or use the Website. 
          
          h2 Amendments to Privacy Policy
          p We reserve the right, from time to time, with or without notice to you, to change our Privacy Policy at our sole discretion. Our Privacy Policy is applicable to your access to and use of this Website will be the version that is current and displayed on the Website as at each date you access the Website. Your use of the Website after changes are made means that you agree to be bound by such changes. If you do not wish to accept the new Privacy Policy you should not continue to use the Website or any of the services provided on it. 
          
          h2 What we collect and store
          p We may collect and store information from the following sources:
          p Information you give us. 
          p We require you to register to use our services. When you do, we’ll ask for personal information, like your name, age, contact details, sports and lifestyle choices or credit card to store with your account. 
          p Information we get from your use of our services. 
          p We collect information about the services that you use and how you use them, like when you subscribe to one of our services, watch a training video or view and interact with our ads and content. 

          p We also collect information from third party services and devices, such as Strava, We etc, which you have requested we access as part of providing our services to you.
          p Information we get generate from our services. 

          p We store information that we generate from our analysis of the data you and other users of our services have provided and in connection with your use of our services, such as products you have bought or services you have subscribed for.

          h2 What we do with the information we gather
          p We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
          p Internal record keeping.

          p We may use the information to improve our products and services, including analyses of data we have collected or stored.
          p We may periodically send emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.

          p From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the website according to your interests.

          p Logs and other data are used to troubleshoot We services; detect and protect against error, fraud or other criminal activity.

          h2 What Data May be Shared With Third Parties?

          p We don’t sell any data that could identify you, we only share data when it is necessary to provide our services, when the data is de-identified and aggregated, or when you direct us to share it.

          h2 Data That Could Identify You
          p Personally Identifiable Information (“PII”) is data that includes a personal identifier like your name, email or address, or data that could reasonably be linked back to you. We will only share PII data under the following circumstances:

          ul.amp-disc
            li With companies that are contractually engaged in providing us with services like order fulfillment, email management and credit card processing. These companies are obligated by contract to safeguard any PII they receive from us.
            li If we believe, after due consideration, that doing so is reasonably necessary to comply with a law, regulation, or valid legal process. If we are going to release your data, we will do our best to provide you with notice in advance by email, unless we are prohibited by a court order from doing so or where the request or legal process is directly related to a regulatory investigation. In the latter case, we will ensure user information we disclosed is treated as confidential.
            li If it is necessary in connection with the sale, merger, bankruptcy, sale of assets or reorganisation of our company, your PII can be sold or transferred as part of that transaction as permitted by law. The promises in this Privacy Policy will apply to your data as transferred to the new entity.
          
          h2 Data That Does Not Identify You (De- identified Data)
          p We may share or sell aggregated, de-identified data that does not identify you with partners and the public in a variety of ways, such as by providing research or reports about health and fitness or in services provided under our corporate registrations. When we provide this information, we take legal and technical measures to ensure that the data does not identify you and cannot be associated back to you.

          h2 Data that You Direct Us to Share 
          p You can direct us to share data with other parties. For example, you might authorise us to link your account with a third-party app or with a personal trainer; send status updates to your Facebook or Twitter account; or direct us to share data with your employer as part of a wellness program. Once you direct us to share your data with a third party, that data is governed by the third-party’s privacy policy. 
          p You can revoke your consent to share with the third party at any time in your user account settings.

          h2 Default Visibility Settings

          p The privacy settings on your account when you register are set to reveal minimal data about you with the purpose of getting you active and involved with us and our services. You can adjust your privacy settings in your user account.

          h2 Other ways you may share your data

          p Social Tools
          p We provides many ways for you to share data with other users, such as through daily or weekly competitions around successful completion of activities or by posting comments to the community message boards. When you interact with others in these ways, you will be displaying your data based upon the visibility settings in your user account privacy settings. Always check specific policies associated with any challenge to understand what data will be visible to other participants. 

          p Community Posts
          p To post to our community message boards, you’ll be asked to create a community username that’s separate from your Amplify username. This community username will be posted next to any comments you publish on community message boards. Other information, like a profile photo that you’ve added to your account may also be visible on message boards, depending on your user account settings.

          p Contests and Giveaways
          p We may offer opportunities to participate in contests, giveaways and other promotions. Any data you submit in connection with these activities will be treated in accordance with this Privacy Policy, unless the rules for these offers note otherwise. 

          h2 Surveys

          p We may also ask you to participate in surveys that help us understand your use of our products and services. Any PII you provide to us in these surveys will only be used in relation to that survey and as stated in this Policy.

          p Controlling your personal information

          p You may choose to restrict the collection or use of your personal information in the following ways:

          ul.amp-disc
            li by changing the privacy and other settings in your user account.
            li If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to Customer 

          p Services at Amplify at the address given below.

          p We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen. You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to Customer Services at Amplify at the address given below.
          p If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us at Customer Services as soon as possible at the below address. We will promptly correct any information found to be incorrect.
          p Security

          p We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.

          h2 Credit card privacy

          p Your payment card details together with your payment details when you registered the payment card will be held on our system. We do our utmost to ensure the security of these details. We store your payment information when you register with us to enable automatic payment for regular orders.  Your payment card details are encrypted, stored and processed by a fully PCI compliant third party provider.[CHECK WITH KIEREN. THIS IS SLIGHTLY DIFFERENT TO WHAT WE HAD DISCUSSED] 

  // LIVE RELOAD
  // REMOVE ON LAUNCH
  script(src="http://localhost:35729/livereload.js")
