extends ../template.jade

block content
  section.amp-section.amp-recipe.amp-banana-hemp
    .container-fluid
      .container
        .row
          .col-xs-12.col-sm-4.col-md-3.col-lg-2
            img.img-responsive.center-block.img-circle(src="#{asset_path}/home/assets/recipes/bowl-of-salad.jpg",width="165", height="165")
          
          .col-xs-12.col-sm-8.col-md-9.col-lg-8
            .recipe-info
              h1 Banana Hemp and Maca Smoothie
              p.emphasised This easy-to-make, energising, smoothie provides a great way to boost your vitamin and mineral intake with two great superfoods – hempseeds and Maca.
          
        .row
          .col-md-12.col-lg-offset-2.col-lg-8
            .recipe-content
              .ingredients
                h2 Serves 1
                ul.amp-disc
                  li 1 banana  
                  li 1 cup organic milk, almond milk or rice milk
                  li 2 tbsp shelled hempseeds
                  li 1 tsp of cinnamon
                  li 1 garlic clove, crushed
                  li A drizzle if honey if extra sweetness, is required
                p Note: If you don’t have Maca root powder, use 2 tbsp of hempseeds.
              
              h2 Preparation
              p Simply blend all food ingredients in a food blender; adding more milk if needed to achieve the right consistency. Serve in a tall glass, or two small glasses.
              
              h2 Nutritional profile
              p Maca root is a Peruvian herb and fast-becoming a popular superfood. It is low in calories yet rich in protein, B6, calcium, iron, manganese and vitamin C. It helps to increase energy, strength and endurance. It’s also a powerful adaptogen, meaning it has the ability to balance and stabilise the body's biological systems. Hempseeds are a good source of protein, as well as Omega-3 fats and minerals such as calcium and magnesium. And bananas provide natural sugars for energy, along with extra minerals and necessary fibre too.
              
              .nutrient-tags
                span.nutrient Gluten-free
                span.nutrient Wheat-free
                span.nutrient Dairy-free
                span.nutrient V
                span.nutrient.light (if you use nut or seed milk)
            
            
