extends ../template.jade

block content
  section.amp-section.amp-supplements
  
    .container-fluid.article-header
      .container
        .row
          .col-xs-12.col-sm-2
            .title-box Supplements
            
          .col-xs-12.col-sm-10
            h1 Navigating the World of Supplements
            p.emphasised Supporting the diet with quality supplements can enhance health, lift energy for a busy working and home life, and optimise sports performance too. Lucy Ann Prideaux helps you choose the best.
            p Whilst any kind of supplementation is never a replacement for a good diet, modern-day living dictates the need to seriously consider topping up the diet with extra vitamins and minerals. Many of us fail to meet even basic nutrient requirements, and whether this is due to poor quality food choices, stressful lifestyles, intense workout regimes or health problems, there is very much a space and need for quality, and strategic supplementation.
            
            h2 The Best Supplement Strategy
            p Healthy supplementation is akin to choosing a healthy, natural diet. Therefore, supplementing a natural unprocessed diet with natural, unprocessed nutrients really should be the aim. Within the vast world of vitamin and mineral supplementation, there exists some excellent nutritional supplements, many as close to real food as you can get – think organic superfood powders, as well as cutting-edge whole food or fruit extracts.
            p Companies too, are developing novel modes of nutrient delivery, e.g. sprays, oils, and liquids, which are not only perfect for those who have a hard time swallowing pills, many improve absorption into the body. After all, a nutrient is only beneficial if it enters the bloodstream. 
            p Just as you wouldn’t eat processed foods if you’re looking to having a healthy body, nor would you knowingly ‘supplement’ your diet with synthetic supplements that are packed with cheap ingredients, binders, fillers and sweeteners, and consequently have minimal absorption capability.
            
            h2 Natural Wholefood, Or Food-State Supplements?
            p Food State or Food form are common terms that describe nutrients found in or grown in natural food bases that ensure they come complete with the phytonutrients, amino acids and associated food factors recognised by the body, and necessary for optimal absorption. Some examples include carrot concentrate for beta-carotene, beet concentrate for natural nitrates, berry and super-fruit extracts (acai, camu camu, acerola cherry, and blackcurrant) and citrus pulp for vitamin C and powerful antioxidants.
            p Food-form nutrients are absorbed and used by the body in the exactly the same way as food itself and therefore have the same bio-efficacy or bioavailability. This of course depends on a fully-functioning digestive system, but assuming that all is well in the gut, this remains to be the case.
            
            h2 Synthetic Supplements
            p Synthetics do have a place in the market. The synthesis of vitamins means large volumes of vitamins can be made that are consistently using the same ingredients. However, isolated, synthetic or man-made supplements and nutrients do not have the same effect as food, and food-form nutrients. For example, ascorbic acid is commonly used as a vitamin C supplement. This is the synthetic, very cheap replacement for the natural form of Vitamin C, and unfortunately poorly absorbed by the body. Many synthetic vitamins do not have the same biological effect, and are often needed in far higher dosages to get close to being effective.
            
            h2 What to look for when buying supplements
            p The body is designed to eat natural whole foods, and make full use of the food’s inherent nutrition. It is not designed for synthetic nutrition, so choosing supplements wisely is paramount to good health. Being armed with sound information, as well as having access to knowledgeable experts will help you choose right.
            
            ul.amp-disc
              li Choose food-state or wholefood-based supplements whenever you can.
              li Check any labels for added sweeteners, dyes, artificial preservatives, fillers and binders. Whilst certain additives are needed in most supplements, and serve a purpose, care should be taken in choosing those with minimal added ingredients.   
              li Supplements should use the finest ingredients to EFSA (European Food Safety Authority) standards and manufactured using pharmaceutical grade technology.
              li Has the supplement been certified and verified that it is safe to take? In the UK, they should be manufactured to ISO 9001 standards, and according to the standards set by the Good Manufacturing Practice (GMP).
