
//----------------------
// WHY PAGE
//----------------------

.amp-why-page {

  header.header-default {
    margin-bottom: 0;
  }

  //----------------------
  // HEADER SECTION
  //----------------------

  .amp-why-header {
    background: white;

    .container-fluid {
      background: white url("./assets/why/why.jpg") no-repeat;

      @media #{$sm} {
        background-position: 100% -95px;
        background-size: 190%;
        padding-top: 130px;
      }
      @media #{$lg} {
        background-position: top right;
      }
    }
  }

  //----------------------
  // CENTRAL PLATFORM SECTION
  //----------------------

  .amp-cent-plat {
    padding: 170px 0;
    background: black;
    h1, h2 {
      font-size: 48px;
      font-weight: 300;
    }
    .amp-logo {
      margin-bottom: 35px;
    }
  }

  //----------------------
  // EXPERIENCE SECTION
  //----------------------

  .amp-exp {
    background: $secondary-color;
    padding: 0;
    .container-fluid {
      padding: 140px 0;
      background: $secondary-color url("./assets/why/experience.jpg") no-repeat 100% 100%/100%;
    }

    .more {
      margin-top: 30px;
      font-weight: 300;
      img {
        margin-bottom: 5px;
      }
    }
  }

  //----------------------
  // HOW SECTION
  //----------------------

  .amp-how {
    padding-top: 10px;
    background: white;

    h2 {
      padding: 30px 0;
      font-size: 87px;
      font-weight: 300;
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      @include highlight($primary-color);
      @media #{$sm} {
        padding: 8px 0 22px;
        font-size: 57px;
      }
    }
    small {
      margin-top: 10px;
      display: block;
      font-size: 25px;
      color: #494949;
    }
    .col-xs-12 {
      max-width:700px;
      margin: 0 auto;
    }
    .line-seperator {
      width: 1px;
      height: 170px;
      background: $primary-color;
      margin: 0 auto;
    }
    img {
      margin-top: 80px;
    }
  }


  //----------------------
  // PARTNERS SECTION
  //----------------------

  .amp-partners {
    padding-bottom: 0;
    background: #eaeaea;
    font-size: 16px;
    .featured-partners {
      // max-width:700px;
      margin: 0 auto 30px;
      padding: 50px 0;
      border-bottom: 1px solid white;
      @media #{$sm} {
        margin-bottom: 10px;
      }
    }
    .coming-soon {
      // max-width: 900px;
      margin: 0 auto;
      padding: 20px 0;
      h2 {
        font-size: 25px;
        font-weight: 300;
        color: #242424;
        @media #{$sm} {
          text-align: center;
        }
      }
      .row > div {
        margin-bottom: 50px;
        @media #{$sm} {
          margin-bottom: 30px;
        }
      }
    }
    h1 {
      color: #242424;
    }
    img {
      margin-right: 10px;
    }
  }


  //----------------------
  // SUPPLEMENTS SECTION
  //----------------------

  .amp-supplements {
    padding: 0;
    background: white;
  }

  #supplements-carousel {
    img {
      margin: 0 auto;
      display: block;
    }
  }


  //----------------------
  // KICK OFF SECTION
  //----------------------

  .amp-kick-off {
    font-size: 30px;
    background: white;
    padding: 0;

    .container-fluid {
      background: url("./assets/why/kick-off-combined-bg.jpg")100% 0%/cover;
      padding-top: 40%;
      padding-bottom: 7%;
    }

    h1 {
      margin: 40px 0 20px;
      font-size:48px;
    }

    p {
      font-weight: 300;
      line-height: 1.3;
      margin: 45px 0;
    }

    .circle-logo {
      margin-bottom: 120px;
    }

    .product-image {
      max-width: 80%;
      height: auto;
    }

    @media #{$sm} {
      background: black;
      padding-top: 60px;
      .circle-logo {
        margin-bottom: 20px;
      }
    }

    @media #{$lg} {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
    }

    @media #{$md} {
      .circle-logo {
        margin-bottom: 50px;
      }
    }
  }


  //----------------------
  // FOOTER SIGNUP SECTION
  //----------------------

  .amp-footer-signup {
    background: #FAF3E9;
    padding: 0;

    .container-fluid {
      background: url("./assets/why/footer-signup.jpg")100% 100%/cover;
      padding-top: 13%;
      padding-bottom: 13%;
    }
    @media #{$sm} {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .headline {
      font-size: 23px;
      color: black;
    }
    .headline-2 {
      font-size: 29px;
      font-weight:300;
      color: white;
      .highlight {
        font-weight: 400;
      }
    }
    .btn-gold {
      font-size: 20px;
      color: white;
      font-weight: 300;
      margin-bottom: 30px;
    }
  }

}
