

/*
  =============================
  SLICK SLIDER
  =============================
*/

.slick-slider {
    max-height: 390px;
    overflow: hidden;

    .slick-arrow {
        position: absolute;
        top: 40%;
        z-index: 10;
        font-size:0;
        padding:10px 20px;
        background:none;
        box-shadow: none;
        text-shadow:none;
        border:0;

        &:after {
            font-size: 70px;
            font-family:'FontAwesome';
            color:white;
        }
    }
    .slick-prev.slick-arrow {
        left: 20px;
        &:after {
            content:"\f104";
        }
    }
    .slick-next.slick-arrow {
        right:20px;
        &:after {
            content:"\f105";
        }
    }

    .slide {
        position:relative;
        max-height: 390px;
        overflow: hidden;

        img {
            margin: 0 auto;
            max-width:1920px;
        }
    }

    .slide-content {
        text-align: center;
        position: absolute;
        top: 40%;
        width: 100%;
        color:white;
        @extend %uppercase;
        @include box-sizing(border-box);

        .slider-title {
            display: inline-block;
            width:100%;

            h1 {
                font-size: 56px;
                font-weight:900;
                line-height: 0.5;
                color: white;
                margin: 0 0 20px;            }
        }

        .slider-sub-title {
            font-size: 25px;
            display: inline-block;
            padding-bottom: 20px;
            border-bottom: 2px solid rgba(50, 70, 142, 0.7);
        }
    }
}
