/*
==========================
BW SECTIONS
=============================
*/

.primary-section {
  padding:90px 50px 70px;

  &.light {
    background:white;

    h2 {
      color: $blue;
    }
  }
  &.dark {
    background: $blue;

    h2 {
      color: white;
    }
  }
}


section .scroll-link-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -104px;
  height:0;

  .scroll-link {
    width: 30px;
    height: 18px;
    font-size: 30px;
    box-shadow: 0px 0px 14px -5px black;
    border-radius: 50%;
    padding: 9.5px 15px;
    font-family: 'FontAwesome';
    background:white;
  }
}


/* ==========================
BW COLUMNS
============================= */

.bw-row {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.bw-col {
  float:left;
  padding-right:5%;
  @include box-sizing(border-box);

  &.col-6 {
    width: 50%;
  }
  &.col-4 {
    width: 33.33%;
  }
  &.col-3 {
    width: 25%;
  }
  &:last-of-type {
    padding-right:0;
  }
}

.alt-layout {
  .bw-col {
    padding: 0 10px;
    margin: 30px 0;
  }
  .col-4:nth-of-type(3n+1) {
    clear:left;
  }
}
